.destination-section {
    max-width: 1200px;
    margin: auto;
    padding: 20px 20px;
}

.destination-header {
    text-align: center;
    margin-bottom: -10px;
}

.destination-subtitle {
    color: #7cb518;
    font-weight: 600;
    letter-spacing: 2px;
}

.destination-title {
    font-size: 30px;
    margin-top: 8px;
}

/* ===== GRID ===== */
.destination-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

/* ===== LEFT SIDE ===== */
.destination-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.destination-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* ===== CARD ===== */
.destination-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.destination-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
}

.destination-card.large {
    height: 230px;
}

.destination-card.small {
    height: 200px;
}

.destination-card.tall {
    height: 455px;
}

/* ===== BADGES ===== */
.discount {
    position: absolute;
    top: 10px;
    left: 12px;
    background: #000;
    color: #ff4d4d;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2px;
    max-height: fit-content;
}

.location {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: #ffc107;
    color: #000;
    padding: 4px 10px;
    font-weight: 600;
    border-radius: 2px;
}