/* body {
    margin: 0;
}

.nav {
    height: 50px;
    color: white;
    background-color: #111111;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 15px;
}

span {
    margin-right: 20px;
}

.gmail {
    color: white;
    text-decoration: none;
}

.nav-circles {
    margin-left: auto;
    margin-right: 55px;
    display: flex;
    gap: 12px;
}

.nav-a {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.nav-a:hover {
    background-color: white;
    color: black;
}

.nav-a i {
    text-align: center;
    padding-top: 5px;
    width: 100%;
} */


.topbar{
    width: 100%;
    background: #101010;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 60px;
    flex-wrap: wrap;
    gap: 15px;
}

/* LEFT */

.topbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.topbar-item{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 500;
}

.topbar-icon{
    font-size: 16px;
}

/* RIGHT */

.topbar-right{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.nav-a{
    width: 30px;
    height: 26px;

    border: 2px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;

    transition: 0.3s;
}

.nav-a:hover{
    background: #ffb703;
    border-color: #ffb703;
    color: black;
}

/* ================= MOBILE ================= */

@media (max-width: 768px){

    .topbar{
        padding: 10px 15px;
        justify-content: center;
        text-align: center;
    }

    .topbar-left{
        width: 100%;
        justify-content: center;
        gap: 12px;
        flex-direction: column;
    }

    .topbar-item{
        font-size: 14px;
    }

    .topbar-right{
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    .nav-a{
        width: 34px;
        height: 34px;
        font-size: 14px;
    }
}